body{
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    background-color: black;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
    color: antiquewhite;
}

article{
    color: antiquewhite;
    flex: 2;
    overflow-y: auto;
}

aside{
    color: antiquewhite;
    background-color: black;
    flex: 1;
    overflow-y: auto;

}